@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}
main h1{
    display: flex;
    justify-content: center;
}
/* social media posts*/

.image-container {
    display: grid;
    grid-template-columns: repeat(4, 2fr); /* 4 columns */
    gap: 10px; /* Space between images */
    padding: 20px;
    align-items: center;
    justify-content: center;
  }
  
  .image-item {
    background-color: #fff;
    border-radius: 8px;
    border: 2px solid gray;
    overflow: hidden;
    box-shadow: 10 8px 16px black;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 300px;
    height: 200px;
  }
  
  .image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .image-item:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    background-size: cover;
  }

/* fooetr */
footer {
    background-color: gray;
    color: #fff;
    padding: 20px 0;
    width: auto;
}

.footer-container {
    width: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: start;
}
.footer-about, .footer-links, .footer-contact, .footer-email {
    flex: 1;
    padding: 10px;
}
.footer-about h3, .footer-links h3, .footer-contact h3, .footer-email h3{
    margin-bottom: 10px;
    font-size: 18px;
    color: black;
}
.footer-links{
    text-align: center;
}
.footer-email .email-box input{
    background-color: #fff;
    padding: 12px 50px;
    border: 1px solid blueviolet;
    border-radius: 10px;
    margin-bottom: 5px;
}
.email-box input:nth-child(2):hover{
    background-color: #7d2ae8;
}
.email-box input:nth-child(2){
    background-color: #fff;
    padding: 10px;
}
.footer-about p, .footer-contact p {
    font-size: 14px;
    line-height: 1.6;
}
.footer-contact p a{
    text-decoration: none;
    color: #fff;
}
.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}

.footer-contact .social-icons {
    margin-top: 10px;
}

.footer-contact .social-icon {
    display: inline-block;
    margin-right: 10px;
    color: #7d2ae8;
    text-decoration: none;
}

.footer-contact .social-icon:hover {
    color: #fff;
}

.footer-bottom {
    background-color: #222;
    padding: 10px;
    text-align: center;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
}

/* media query*/
@media screen and (max-width: 600px) {
    body{
        width: 1200px;
    }
}
@media screen and (max-width:1061px){
    body{
        width: 1200px;
    }
}